<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>SHOW</h3>
      <p><b>Title: </b><%= todo.title %></p>
      <p><b>ID: </b><%= todo._id %></p>

      <p><b>Completed: </b>
        <% if (todo.completed) { %>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <% } else { %>
          <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
        <% } %>
      </p>

      <p><b>Created: </b><%= todo.getCreatedAt() %></p>
      <p><b>Last Updated: </b><%= todo.getUpdatedAt() %></p>
    </div>

    <a href="/todos" class="btn btn-primary">Back</a>
    <a href="/todos/<%= todo._id %>/edit" class="btn btn-danger">Edit</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
